@import "../../../theme/_mixins";
@import "../../../theme/_variables";

:host[quiz-button] button {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    font-size: 13px;
    border-radius: 1px;

    &:hover {
        text-decoration: underline;
    }
}

:host[quiz-button=false] {
    button {
        color: text(primary);
        background-color: color(white);
        border: 1px solid color(primary);

        color: #c41723;
        background-color: #ffffff;
        border: 1px solid #c41723;

        &:hover {
            background-color: colors(whitersmoke);
        }
        &:active {
            background-color: colors(whitesmoke);
        }

    }
}

:host[quiz-button=true] {
    button {
        color: colors(white);
        background-color: colors(primary);
    }
}
